@model K22CNT2_PhanLacViet_DATN.Models.ThongBao

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>ThongBao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaThongBao" />
            <div class="form-group">
                <label asp-for="TaiKhoan" class="control-label"></label>
                <select asp-for="TaiKhoan" class="form-control" asp-items="ViewBag.TaiKhoan"></select>
                <span asp-validation-for="TaiKhoan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoiDung" class="control-label"></label>
                <input asp-for="NoiDung" class="form-control" />
                <span asp-validation-for="NoiDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DaDoc" class="control-label"></label>
                <input asp-for="DaDoc" class="form-control" />
                <span asp-validation-for="DaDoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayGui" class="control-label"></label>
                <input asp-for="NgayGui" class="form-control" />
                <span asp-validation-for="NgayGui" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

