USE [WebDocTruyen]
GO
/****** Object:  Table [dbo].[BinhLuan]    Script Date: 07/11/2025 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinhLuan](
	[MaBinhLuan] [int] IDENTITY(1,1) NOT NULL,
	[MaChuongTruyen] [int] NULL,
	[TaiKhoan] [nvarchar](50) NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[NgayGui] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[MaBinhLuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChuongTruyen]    Script Date: 07/11/2025 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuongTruyen](
	[MaChuongTruyen] [int] IDENTITY(1,1) NOT NULL,
	[MaTruyen] [int] NULL,
	[ThuTuChuong] [int] NULL,
	[TieuDe] [nvarchar](255) NOT NULL,
	[NgayDang] [datetime] NULL DEFAULT (getdate()),
	[NoiDung] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChuongTruyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DanhGia]    Script Date: 07/11/2025 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGia](
	[MaDanhGia] [int] IDENTITY(1,1) NOT NULL,
	[NoiDung] [nvarchar](max) NULL,
	[Diem] [int] NULL,
	[NgayDanhGia] [datetime] NULL DEFAULT (getdate()),
	[TaiKhoan] [nvarchar](50) NULL,
	[MaTruyen] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDanhGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LuuTruyen]    Script Date: 07/11/2025 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuuTruyen](
	[IDLuuTruyen] [int] IDENTITY(1,1) NOT NULL,
	[TaiKhoan] [nvarchar](50) NULL,
	[MaTruyen] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDLuuTruyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QuanTri]    Script Date: 07/11/2025 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanTri](
	[TaiKhoanQT] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TaiKhoanQT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RepBinhLuan]    Script Date: 07/11/2025 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RepBinhLuan](
	[MaRepBinhLuan] [int] IDENTITY(1,1) NOT NULL,
	[TaiKhoan] [nvarchar](50) NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[NgayGui] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[MaRepBinhLuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThanhVien]    Script Date: 07/11/2025 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhVien](
	[TaiKhoan] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](100) NOT NULL,
	[Avatar] [nvarchar](255) NULL,
	[IsDeleted] [bit] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 07/11/2025 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[MaTheLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenTheLoai] [nvarchar](100) NOT NULL,
	[IsDeleted] [bit] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[MaTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TheoDoi]    Script Date: 07/11/2025 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheoDoi](
	[IDTheoDoi] [int] IDENTITY(1,1) NOT NULL,
	[TaiKhoan] [nvarchar](50) NULL,
	[MaTruyen] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTheoDoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThongBao]    Script Date: 07/11/2025 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongBao](
	[MaThongBao] [int] IDENTITY(1,1) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[NgayGui] [datetime] NULL DEFAULT (getdate()),
	[TaiKhoan] [nvarchar](50) NULL,
	[DaDoc] [bit] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[MaThongBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Truyen]    Script Date: 07/11/2025 5:33:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Truyen](
	[MaTruyen] [int] IDENTITY(1,1) NOT NULL,
	[TenTruyen] [nvarchar](255) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[MaTheLoai] [int] NULL,
	[SoChuong] [int] NULL DEFAULT ((0)),
	[TacGia] [nvarchar](255) NULL,
	[NguoiDang] [nvarchar](50) NULL,
	[LoaiTruyen] [nvarchar](50) NULL,
	[NgayDang] [datetime] NULL DEFAULT (getdate()),
	[NgayCapNhat] [datetime] NULL,
	[IsDeleted] [bit] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[MaTruyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[BinhLuan] ON 

INSERT [dbo].[BinhLuan] ([MaBinhLuan], [MaChuongTruyen], [TaiKhoan], [NoiDung], [NgayGui]) VALUES (1, 1, N'user2', N'Mở đầu rất cuốn!', CAST(N'2025-09-03 10:05:00.000' AS DateTime))
INSERT [dbo].[BinhLuan] ([MaBinhLuan], [MaChuongTruyen], [TaiKhoan], [NoiDung], [NgayGui]) VALUES (2, 2, N'user3', N'Tình tiết hợp lý và hấp dẫn.', CAST(N'2025-09-06 12:00:00.000' AS DateTime))
INSERT [dbo].[BinhLuan] ([MaBinhLuan], [MaChuongTruyen], [TaiKhoan], [NoiDung], [NgayGui]) VALUES (3, 3, N'user1', N'Cảm xúc dâng trào luôn!', CAST(N'2025-09-11 08:20:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[BinhLuan] OFF
SET IDENTITY_INSERT [dbo].[ChuongTruyen] ON 

INSERT [dbo].[ChuongTruyen] ([MaChuongTruyen], [MaTruyen], [ThuTuChuong], [TieuDe], [NgayDang], [NoiDung]) VALUES (1, 1, 1, N'Chương 1: Sóng Đầu Tiên', CAST(N'2025-09-02 08:30:00.000' AS DateTime), NULL)
INSERT [dbo].[ChuongTruyen] ([MaChuongTruyen], [MaTruyen], [ThuTuChuong], [TieuDe], [NgayDang], [NoiDung]) VALUES (2, 1, 2, N'Chương 2: Cơn Bão Bất Ngờ', CAST(N'2025-09-05 09:00:00.000' AS DateTime), NULL)
INSERT [dbo].[ChuongTruyen] ([MaChuongTruyen], [MaTruyen], [ThuTuChuong], [TieuDe], [NgayDang], [NoiDung]) VALUES (3, 1, 3, N'Chương 3: Hướng Tới Đại Dương', CAST(N'2025-09-10 20:15:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[ChuongTruyen] OFF
SET IDENTITY_INSERT [dbo].[DanhGia] ON 

INSERT [dbo].[DanhGia] ([MaDanhGia], [NoiDung], [Diem], [NgayDanhGia], [TaiKhoan], [MaTruyen]) VALUES (1, N'Câu chuyện đầy cảm xúc và ý nghĩa.', 5, CAST(N'2025-09-12 10:00:00.000' AS DateTime), N'user2', 1)
INSERT [dbo].[DanhGia] ([MaDanhGia], [NoiDung], [Diem], [NgayDanhGia], [TaiKhoan], [MaTruyen]) VALUES (2, N'Nhẹ nhàng, dễ thương.', 4, CAST(N'2025-09-12 11:00:00.000' AS DateTime), N'user3', 2)
INSERT [dbo].[DanhGia] ([MaDanhGia], [NoiDung], [Diem], [NgayDanhGia], [TaiKhoan], [MaTruyen]) VALUES (3, N'Kịch bản sáng tạo, công nghệ hấp dẫn.', 4, CAST(N'2025-10-06 08:00:00.000' AS DateTime), N'user1', 4)
SET IDENTITY_INSERT [dbo].[DanhGia] OFF
SET IDENTITY_INSERT [dbo].[LuuTruyen] ON 

INSERT [dbo].[LuuTruyen] ([IDLuuTruyen], [TaiKhoan], [MaTruyen]) VALUES (1, N'user1', 1)
INSERT [dbo].[LuuTruyen] ([IDLuuTruyen], [TaiKhoan], [MaTruyen]) VALUES (2, N'user2', 2)
INSERT [dbo].[LuuTruyen] ([IDLuuTruyen], [TaiKhoan], [MaTruyen]) VALUES (3, N'user3', 1)
SET IDENTITY_INSERT [dbo].[LuuTruyen] OFF
INSERT [dbo].[QuanTri] ([TaiKhoanQT], [MatKhau]) VALUES (N'admin1', N'$2a$10$examplehash1')
INSERT [dbo].[QuanTri] ([TaiKhoanQT], [MatKhau]) VALUES (N'admin2', N'$2a$10$examplehash2')
INSERT [dbo].[QuanTri] ([TaiKhoanQT], [MatKhau]) VALUES (N'admin3', N'$2a$10$examplehash3')
SET IDENTITY_INSERT [dbo].[RepBinhLuan] ON 

INSERT [dbo].[RepBinhLuan] ([MaRepBinhLuan], [TaiKhoan], [NoiDung], [NgayGui]) VALUES (1, N'user1', N'Cảm ơn bạn đã đọc!', CAST(N'2025-09-03 11:00:00.000' AS DateTime))
INSERT [dbo].[RepBinhLuan] ([MaRepBinhLuan], [TaiKhoan], [NoiDung], [NgayGui]) VALUES (2, N'user2', N'Mình sẽ cải thiện thêm.', CAST(N'2025-09-06 12:30:00.000' AS DateTime))
INSERT [dbo].[RepBinhLuan] ([MaRepBinhLuan], [TaiKhoan], [NoiDung], [NgayGui]) VALUES (3, N'user3', N'Sẽ ra chương mới sớm thôi!', CAST(N'2025-09-11 09:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[RepBinhLuan] OFF
INSERT [dbo].[ThanhVien] ([TaiKhoan], [MatKhau], [Avatar], [IsDeleted]) VALUES (N'user1', N'passUser1', N'u1.jpg', 0)
INSERT [dbo].[ThanhVien] ([TaiKhoan], [MatKhau], [Avatar], [IsDeleted]) VALUES (N'user2', N'passUser2', N'u2.jpg', 0)
INSERT [dbo].[ThanhVien] ([TaiKhoan], [MatKhau], [Avatar], [IsDeleted]) VALUES (N'user3', N'passUser3', N'u3.jpg', 0)
SET IDENTITY_INSERT [dbo].[TheLoai] ON 

INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai], [IsDeleted]) VALUES (1, N'Hiện đại', 0)
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai], [IsDeleted]) VALUES (2, N'Ngôn tình', 0)
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai], [IsDeleted]) VALUES (3, N'Hành động', 0)
SET IDENTITY_INSERT [dbo].[TheLoai] OFF
SET IDENTITY_INSERT [dbo].[TheoDoi] ON 

INSERT [dbo].[TheoDoi] ([IDTheoDoi], [TaiKhoan], [MaTruyen]) VALUES (1, N'user1', 1)
INSERT [dbo].[TheoDoi] ([IDTheoDoi], [TaiKhoan], [MaTruyen]) VALUES (2, N'user2', 1)
INSERT [dbo].[TheoDoi] ([IDTheoDoi], [TaiKhoan], [MaTruyen]) VALUES (3, N'user3', 2)
SET IDENTITY_INSERT [dbo].[TheoDoi] OFF
SET IDENTITY_INSERT [dbo].[ThongBao] ON 

INSERT [dbo].[ThongBao] ([MaThongBao], [NoiDung], [NgayGui], [TaiKhoan], [DaDoc]) VALUES (1, N'Chào mừng bạn đến với WebDocTruyen!', CAST(N'2025-09-01 09:00:00.000' AS DateTime), N'user1', 0)
INSERT [dbo].[ThongBao] ([MaThongBao], [NoiDung], [NgayGui], [TaiKhoan], [DaDoc]) VALUES (2, N'Truyện mới "Ánh Dương Trên Biển" đã được duyệt.', CAST(N'2025-09-05 14:10:00.000' AS DateTime), N'user2', 0)
INSERT [dbo].[ThongBao] ([MaThongBao], [NoiDung], [NgayGui], [TaiKhoan], [DaDoc]) VALUES (3, N'Hệ thống sẽ bảo trì vào 2025-09-20.', CAST(N'2025-09-18 20:00:00.000' AS DateTime), N'user1', 1)
SET IDENTITY_INSERT [dbo].[ThongBao] OFF
SET IDENTITY_INSERT [dbo].[Truyen] ON 

INSERT [dbo].[Truyen] ([MaTruyen], [TenTruyen], [MoTa], [MaTheLoai], [SoChuong], [TacGia], [NguoiDang], [LoaiTruyen], [NgayDang], [NgayCapNhat], [IsDeleted]) VALUES (1, N'Ánh Dương Trên Biển', N'Hành trình khám phá biển cả và ước mơ tuổi trẻ.', 1, 3, N'Lâm Tuấn', N'user1', N'Sáng tác', CAST(N'2025-09-01 08:00:00.000' AS DateTime), CAST(N'2025-09-10 20:15:00.000' AS DateTime), 0)
INSERT [dbo].[Truyen] ([MaTruyen], [TenTruyen], [MoTa], [MaTheLoai], [SoChuong], [TacGia], [NguoiDang], [LoaiTruyen], [NgayDang], [NgayCapNhat], [IsDeleted]) VALUES (2, N'Nụ Cười Qua Ô Cửa', N'Câu chuyện tình cảm nhẹ nhàng nơi phố nhỏ.', 2, 1, N'Phạm Anh', N'user2', N'Sáng tác', CAST(N'2025-09-10 12:00:00.000' AS DateTime), CAST(N'2025-09-11 18:00:00.000' AS DateTime), 0)
INSERT [dbo].[Truyen] ([MaTruyen], [TenTruyen], [MoTa], [MaTheLoai], [SoChuong], [TacGia], [NguoiDang], [LoaiTruyen], [NgayDang], [NgayCapNhat], [IsDeleted]) VALUES (3, N'Chiến Binh Thành Phố', N'Hành động gay cấn về một cảnh sát trẻ chống tội phạm.', 3, 0, N'Trần Duy', N'user3', N'Sáng tác', CAST(N'2025-09-15 10:00:00.000' AS DateTime), NULL, 0)
SET IDENTITY_INSERT [dbo].[Truyen] OFF
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD FOREIGN KEY([MaChuongTruyen])
REFERENCES [dbo].[ChuongTruyen] ([MaChuongTruyen])
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD  CONSTRAINT [FK_BinhLuan_ThanhVien] FOREIGN KEY([TaiKhoan])
REFERENCES [dbo].[ThanhVien] ([TaiKhoan])
GO
ALTER TABLE [dbo].[BinhLuan] CHECK CONSTRAINT [FK_BinhLuan_ThanhVien]
GO
ALTER TABLE [dbo].[ChuongTruyen]  WITH CHECK ADD  CONSTRAINT [FK_ChuongTruyen_Truyen] FOREIGN KEY([MaTruyen])
REFERENCES [dbo].[Truyen] ([MaTruyen])
GO
ALTER TABLE [dbo].[ChuongTruyen] CHECK CONSTRAINT [FK_ChuongTruyen_Truyen]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_ThanhVien] FOREIGN KEY([TaiKhoan])
REFERENCES [dbo].[ThanhVien] ([TaiKhoan])
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [FK_DanhGia_ThanhVien]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_Truyen] FOREIGN KEY([MaTruyen])
REFERENCES [dbo].[Truyen] ([MaTruyen])
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [FK_DanhGia_Truyen]
GO
ALTER TABLE [dbo].[LuuTruyen]  WITH CHECK ADD  CONSTRAINT [FK_LuuTruyen_ThanhVien] FOREIGN KEY([TaiKhoan])
REFERENCES [dbo].[ThanhVien] ([TaiKhoan])
GO
ALTER TABLE [dbo].[LuuTruyen] CHECK CONSTRAINT [FK_LuuTruyen_ThanhVien]
GO
ALTER TABLE [dbo].[LuuTruyen]  WITH CHECK ADD  CONSTRAINT [FK_LuuTruyen_Truyen] FOREIGN KEY([MaTruyen])
REFERENCES [dbo].[Truyen] ([MaTruyen])
GO
ALTER TABLE [dbo].[LuuTruyen] CHECK CONSTRAINT [FK_LuuTruyen_Truyen]
GO
ALTER TABLE [dbo].[RepBinhLuan]  WITH CHECK ADD  CONSTRAINT [FK_RepBinhLuan_ThanhVien] FOREIGN KEY([TaiKhoan])
REFERENCES [dbo].[ThanhVien] ([TaiKhoan])
GO
ALTER TABLE [dbo].[RepBinhLuan] CHECK CONSTRAINT [FK_RepBinhLuan_ThanhVien]
GO
ALTER TABLE [dbo].[TheoDoi]  WITH CHECK ADD  CONSTRAINT [FK_TheoDoi_ThanhVien] FOREIGN KEY([TaiKhoan])
REFERENCES [dbo].[ThanhVien] ([TaiKhoan])
GO
ALTER TABLE [dbo].[TheoDoi] CHECK CONSTRAINT [FK_TheoDoi_ThanhVien]
GO
ALTER TABLE [dbo].[TheoDoi]  WITH CHECK ADD  CONSTRAINT [FK_TheoDoi_Truyen] FOREIGN KEY([MaTruyen])
REFERENCES [dbo].[Truyen] ([MaTruyen])
GO
ALTER TABLE [dbo].[TheoDoi] CHECK CONSTRAINT [FK_TheoDoi_Truyen]
GO
ALTER TABLE [dbo].[ThongBao]  WITH CHECK ADD FOREIGN KEY([TaiKhoan])
REFERENCES [dbo].[ThanhVien] ([TaiKhoan])
GO
ALTER TABLE [dbo].[Truyen]  WITH CHECK ADD  CONSTRAINT [FK_Truyen_ThanhVien] FOREIGN KEY([NguoiDang])
REFERENCES [dbo].[ThanhVien] ([TaiKhoan])
GO
ALTER TABLE [dbo].[Truyen] CHECK CONSTRAINT [FK_Truyen_ThanhVien]
GO
ALTER TABLE [dbo].[Truyen]  WITH CHECK ADD  CONSTRAINT [FK_Truyen_TheLoai] FOREIGN KEY([MaTheLoai])
REFERENCES [dbo].[TheLoai] ([MaTheLoai])
GO
ALTER TABLE [dbo].[Truyen] CHECK CONSTRAINT [FK_Truyen_TheLoai]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD CHECK  (([Diem]>=(1) AND [Diem]<=(5)))
GO
